In [1]:
import asyncio
import awswrangler as wr
from datetime import datetime, timedelta
from IPython.display import display
from metaapi_cloud_sdk import MetaApi
import os
import pandas as pd
import pytz
import sys
from time import sleep

In [2]:
repo_name = "mercury-pipeline-metaapi-sam"
sys.path.append(os.getcwd().split(repo_name)[0] + repo_name + "/lambda")

In [3]:
from src.config import *
from src.io import *
from src.utils import *
from src.access import get_demo_account

In [4]:
from src.ticks.clean.get import get_clean_ticks
from src.candles.from_ticks.get import get_candles_from_ticks
from src.candles.transform.save import ffill

In [5]:
async def yield_raw_ticks_between_datetimes(
    account: object,
    symbol: str,
    datetimeutc_from: datetime,
    datetimeutc_to: datetime,
    pause: int = 5
):
    offset = 0
    while True:
        l_ticks_i = await account.get_historical_ticks(
            symbol,
            start_time=datetimeutc_from,
            limit=1000,
            offset=offset,
        )
        if len(l_ticks_i) == 0:
            break
        yield offset, l_ticks_i
        await asyncio.sleep(pause)
        datetimeutc_last = l_ticks_i[-1]["time"]
        offset += len(l_ticks_i)
        if datetimeutc_last >= datetimeutc_to:
            break

In [6]:
symbol = "GBPUSD"
frequency = "15T"

In [7]:
datetimestr_from = (
    pytz
    .timezone("Europe/London")
    .localize(datetime.now())
    .astimezone(pytz.timezone("UTC"))
    .strftime("%Y%m%d000000000000")
)

datetimestr_to = (
    pytz
    .timezone("Europe/London")
    .localize(datetime.now() + timedelta(days=1))
    .astimezone(pytz.timezone("UTC"))
    .strftime("%Y%m%d%H%M%S%f")
)
datetimestr_from, datetimestr_to

('20220708000000000000', '20220709155124024878')

In [8]:
# Get demo account
account = await get_demo_account()

# Convert datetimes from string to datetime
datetimeutc_from = pytz.timezone("UTC").localize(datetime.strptime(datetimestr_from, "%Y%m%d%H%M%S%f"))
datetimeutc_to = pytz.timezone("UTC").localize(datetime.strptime(datetimestr_to, "%Y%m%d%H%M%S%f"))

In [9]:
generator_async = yield_raw_ticks_between_datetimes(
    account=account,
    symbol=symbol,
    datetimeutc_from=datetimeutc_from,
    datetimeutc_to=datetimeutc_to,
)

In [10]:
i = 0
df_ticks_clean_prev = pd.DataFrame()
async for offset, ticks_raw in generator_async:
    
    print(offset)
    
    if ticks_raw == []:
        sleep(10)
        continue

    df_ticks_clean = get_clean_ticks(ticks_raw)
    df_ticks_clean = pd.concat([
        df_ticks_clean_prev,
        df_ticks_clean
    ])
    
    df_candles_from_ticks = get_candles_from_ticks(
        df_ticks_clean,
        frequency
    )

    df_candles_ffill = ffill(df_candles_from_ticks)
    
    s_candle_last = df_candles_ffill.iloc[-1]
    df_candles_out = df_candles_ffill.iloc[:-1].copy() # could be empty so beware
    
    mask_last = df_ticks_clean["timestamp_utc"] >= s_candle_last["timestamp_utc.open"]
    df_ticks_clean_prev = df_ticks_clean[mask_last].copy()
    
    display(df_candles_out)

    i += 1
    if i >= 20:
        break
    sleep(1)

0

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
0,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,NaN,NaN,1.20271,150000.0
1,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,1.20271,1.20321,NaN,NaN
2,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.131,2022-07-08 01:00:00.131,2022-07-08 03:00:00.131,NaN,NaN,1.20291,150000.0
3,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.132,2022-07-08 01:00:00.132,2022-07-08 03:00:00.132,1.20291,1.20303,NaN,NaN
4,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.234,2022-07-08 01:00:00.234,2022-07-08 03:00:00.234,NaN,NaN,1.20290,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:01:58.135,2022-07-08 01:01:58.135,2022-07-08 03:01:58.135,NaN,NaN,1.20321,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:01:58.236,2022-07-08 01:01:58.236,2022-07-08 03:01:58.236,NaN,NaN,1.20321,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:01:58.337,2022-07-08 01:01:58.337,2022-07-08 03:01:58.337,NaN,NaN,1.20321,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:01:58.438,2022-07-08 01:01:58.438,2022-07-08 03:01:58.438,NaN,NaN,1.20321,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:01:58.539,2022-07-08 01:01:58.539,2022-07-08 03:01:58.539,NaN,NaN,1.20321,150000.0

1000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
0,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,NaN,NaN,1.20271,150000.0
1,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,1.20271,1.20321,NaN,NaN
2,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.131,2022-07-08 01:00:00.131,2022-07-08 03:00:00.131,NaN,NaN,1.20291,150000.0
3,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.132,2022-07-08 01:00:00.132,2022-07-08 03:00:00.132,1.20291,1.20303,NaN,NaN
4,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.234,2022-07-08 01:00:00.234,2022-07-08 03:00:00.234,NaN,NaN,1.20290,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:04:07.041,2022-07-08 01:04:07.041,2022-07-08 03:04:07.041,NaN,NaN,1.20332,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:04:07.142,2022-07-08 01:04:07.142,2022-07-08 03:04:07.142,NaN,NaN,1.20332,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:04:07.420,2022-07-08 01:04:07.420,2022-07-08 03:04:07.420,NaN,NaN,1.20332,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:04:07.519,2022-07-08 01:04:07.519,2022-07-08 03:04:07.519,NaN,NaN,1.20332,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:04:07.620,2022-07-08 01:04:07.620,2022-07-08 03:04:07.620,NaN,NaN,1.20332,150000.0

2000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
0,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,NaN,NaN,1.20271,150000.0
1,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,1.20271,1.20321,NaN,NaN
2,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.131,2022-07-08 01:00:00.131,2022-07-08 03:00:00.131,NaN,NaN,1.20291,150000.0
3,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.132,2022-07-08 01:00:00.132,2022-07-08 03:00:00.132,1.20291,1.20303,NaN,NaN
4,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.234,2022-07-08 01:00:00.234,2022-07-08 03:00:00.234,NaN,NaN,1.20290,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:06:20.729,2022-07-08 01:06:20.729,2022-07-08 03:06:20.729,1.20295,1.20307,NaN,NaN
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:06:20.830,2022-07-08 01:06:20.830,2022-07-08 03:06:20.830,NaN,NaN,1.20295,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:06:20.931,2022-07-08 01:06:20.931,2022-07-08 03:06:20.931,NaN,NaN,1.20295,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:06:21.223,2022-07-08 01:06:21.223,2022-07-08 03:06:21.223,NaN,NaN,1.20295,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:06:21.331,2022-07-08 01:06:21.331,2022-07-08 03:06:21.331,NaN,NaN,1.20298,150000.0

3000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
0,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,NaN,NaN,1.20271,150000.0
1,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,1.20271,1.20321,NaN,NaN
2,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.131,2022-07-08 01:00:00.131,2022-07-08 03:00:00.131,NaN,NaN,1.20291,150000.0
3,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.132,2022-07-08 01:00:00.132,2022-07-08 03:00:00.132,1.20291,1.20303,NaN,NaN
4,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.234,2022-07-08 01:00:00.234,2022-07-08 03:00:00.234,NaN,NaN,1.20290,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:08:35.320,2022-07-08 01:08:35.320,2022-07-08 03:08:35.320,NaN,NaN,1.20270,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:08:35.421,2022-07-08 01:08:35.421,2022-07-08 03:08:35.421,NaN,NaN,1.20270,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:08:35.521,2022-07-08 01:08:35.521,2022-07-08 03:08:35.521,NaN,NaN,1.20270,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:08:35.621,2022-07-08 01:08:35.621,2022-07-08 03:08:35.621,NaN,NaN,1.20270,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:08:35.722,2022-07-08 01:08:35.722,2022-07-08 03:08:35.722,NaN,NaN,1.20267,150000.0

4000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
0,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,NaN,NaN,1.20271,150000.0
1,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,1.20271,1.20321,NaN,NaN
2,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.131,2022-07-08 01:00:00.131,2022-07-08 03:00:00.131,NaN,NaN,1.20291,150000.0
3,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.132,2022-07-08 01:00:00.132,2022-07-08 03:00:00.132,1.20291,1.20303,NaN,NaN
4,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.234,2022-07-08 01:00:00.234,2022-07-08 03:00:00.234,NaN,NaN,1.20290,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:10:46.176,2022-07-08 01:10:46.176,2022-07-08 03:10:46.176,NaN,NaN,1.20290,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:10:46.287,2022-07-08 01:10:46.287,2022-07-08 03:10:46.287,NaN,NaN,1.20290,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:10:46.387,2022-07-08 01:10:46.387,2022-07-08 03:10:46.387,NaN,NaN,1.20290,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:10:46.547,2022-07-08 01:10:46.547,2022-07-08 03:10:46.547,NaN,NaN,1.20290,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:10:46.652,2022-07-08 01:10:46.652,2022-07-08 03:10:46.652,NaN,NaN,1.20290,150000.0

5000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
0,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,NaN,NaN,1.20271,150000.0
1,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.083,2022-07-08 01:00:00.083,2022-07-08 03:00:00.083,1.20271,1.20321,NaN,NaN
2,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.131,2022-07-08 01:00:00.131,2022-07-08 03:00:00.131,NaN,NaN,1.20291,150000.0
3,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.132,2022-07-08 01:00:00.132,2022-07-08 03:00:00.132,1.20291,1.20303,NaN,NaN
4,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:00:00.234,2022-07-08 01:00:00.234,2022-07-08 03:00:00.234,NaN,NaN,1.20290,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:13:10.403,2022-07-08 01:13:10.403,2022-07-08 03:13:10.403,NaN,NaN,1.20247,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:13:10.546,2022-07-08 01:13:10.546,2022-07-08 03:13:10.546,NaN,NaN,1.20247,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:13:10.651,2022-07-08 01:13:10.651,2022-07-08 03:13:10.651,NaN,NaN,1.20244,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:13:10.651,2022-07-08 01:13:10.651,2022-07-08 03:13:10.651,1.20244,1.20256,NaN,NaN
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:13:10.757,2022-07-08 01:13:10.757,2022-07-08 03:13:10.757,NaN,NaN,1.20245,150000.0

6000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
598,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.033,2022-07-08 01:15:00.033,2022-07-08 03:15:00.033,NaN,NaN,1.20248,150000.0
599,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.034,2022-07-08 01:15:00.034,2022-07-08 03:15:00.034,1.20248,NaN,NaN,NaN
600,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.141,2022-07-08 01:15:00.141,2022-07-08 03:15:00.141,NaN,NaN,1.20248,150000.0
601,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.243,2022-07-08 01:15:00.243,2022-07-08 03:15:00.243,NaN,NaN,1.20248,150000.0
602,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.344,2022-07-08 01:15:00.344,2022-07-08 03:15:00.344,NaN,NaN,1.20248,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:55.570,2022-07-08 01:15:55.570,2022-07-08 03:15:55.570,NaN,NaN,1.20265,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:55.846,2022-07-08 01:15:55.846,2022-07-08 03:15:55.846,NaN,NaN,1.20265,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:55.946,2022-07-08 01:15:55.946,2022-07-08 03:15:55.946,NaN,NaN,1.20265,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:56.047,2022-07-08 01:15:56.047,2022-07-08 03:15:56.047,NaN,NaN,1.20265,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:56.160,2022-07-08 01:15:56.160,2022-07-08 03:15:56.160,NaN,NaN,1.20265,150000.0

7000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
598,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.033,2022-07-08 01:15:00.033,2022-07-08 03:15:00.033,NaN,NaN,1.20248,150000.0
599,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.034,2022-07-08 01:15:00.034,2022-07-08 03:15:00.034,1.20248,NaN,NaN,NaN
600,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.141,2022-07-08 01:15:00.141,2022-07-08 03:15:00.141,NaN,NaN,1.20248,150000.0
601,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.243,2022-07-08 01:15:00.243,2022-07-08 03:15:00.243,NaN,NaN,1.20248,150000.0
602,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.344,2022-07-08 01:15:00.344,2022-07-08 03:15:00.344,NaN,NaN,1.20248,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:18:38.859,2022-07-08 01:18:38.859,2022-07-08 03:18:38.859,NaN,NaN,1.20287,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:18:38.964,2022-07-08 01:18:38.964,2022-07-08 03:18:38.964,NaN,NaN,1.20287,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:18:39.085,2022-07-08 01:18:39.085,2022-07-08 03:18:39.085,NaN,NaN,1.20287,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:18:39.186,2022-07-08 01:18:39.186,2022-07-08 03:18:39.186,NaN,NaN,1.20287,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:18:39.891,2022-07-08 01:18:39.891,2022-07-08 03:18:39.891,NaN,NaN,1.20287,150000.0

8000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
598,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.033,2022-07-08 01:15:00.033,2022-07-08 03:15:00.033,NaN,NaN,1.20248,150000.0
599,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.034,2022-07-08 01:15:00.034,2022-07-08 03:15:00.034,1.20248,NaN,NaN,NaN
600,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.141,2022-07-08 01:15:00.141,2022-07-08 03:15:00.141,NaN,NaN,1.20248,150000.0
601,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.243,2022-07-08 01:15:00.243,2022-07-08 03:15:00.243,NaN,NaN,1.20248,150000.0
602,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.344,2022-07-08 01:15:00.344,2022-07-08 03:15:00.344,NaN,NaN,1.20248,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:21:15.361,2022-07-08 01:21:15.361,2022-07-08 03:21:15.361,NaN,NaN,1.20329,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:21:15.461,2022-07-08 01:21:15.461,2022-07-08 03:21:15.461,NaN,NaN,1.20329,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:21:15.562,2022-07-08 01:21:15.562,2022-07-08 03:21:15.562,NaN,NaN,1.20329,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:21:15.663,2022-07-08 01:21:15.663,2022-07-08 03:21:15.663,NaN,NaN,1.20329,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:21:15.764,2022-07-08 01:21:15.764,2022-07-08 03:21:15.764,NaN,NaN,1.20329,150000.0

9000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
598,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.033,2022-07-08 01:15:00.033,2022-07-08 03:15:00.033,NaN,NaN,1.20248,150000.0
599,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.034,2022-07-08 01:15:00.034,2022-07-08 03:15:00.034,1.20248,NaN,NaN,NaN
600,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.141,2022-07-08 01:15:00.141,2022-07-08 03:15:00.141,NaN,NaN,1.20248,150000.0
601,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.243,2022-07-08 01:15:00.243,2022-07-08 03:15:00.243,NaN,NaN,1.20248,150000.0
602,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.344,2022-07-08 01:15:00.344,2022-07-08 03:15:00.344,NaN,NaN,1.20248,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:24:12.359,2022-07-08 01:24:12.359,2022-07-08 03:24:12.359,NaN,NaN,1.20296,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:24:12.467,2022-07-08 01:24:12.467,2022-07-08 03:24:12.467,NaN,NaN,1.20296,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:24:12.568,2022-07-08 01:24:12.568,2022-07-08 03:24:12.568,NaN,NaN,1.20296,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:24:12.671,2022-07-08 01:24:12.671,2022-07-08 03:24:12.671,NaN,NaN,1.20299,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:24:12.671,2022-07-08 01:24:12.671,2022-07-08 03:24:12.671,1.20299,1.20311,NaN,NaN

10000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
598,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.033,2022-07-08 01:15:00.033,2022-07-08 03:15:00.033,NaN,NaN,1.20248,150000.0
599,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.034,2022-07-08 01:15:00.034,2022-07-08 03:15:00.034,1.20248,NaN,NaN,NaN
600,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.141,2022-07-08 01:15:00.141,2022-07-08 03:15:00.141,NaN,NaN,1.20248,150000.0
601,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.243,2022-07-08 01:15:00.243,2022-07-08 03:15:00.243,NaN,NaN,1.20248,150000.0
602,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:15:00.344,2022-07-08 01:15:00.344,2022-07-08 03:15:00.344,NaN,NaN,1.20248,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:27:08.437,2022-07-08 01:27:08.437,2022-07-08 03:27:08.437,NaN,NaN,1.20273,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:27:08.543,2022-07-08 01:27:08.543,2022-07-08 03:27:08.543,NaN,NaN,1.20273,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:27:08.645,2022-07-08 01:27:08.645,2022-07-08 03:27:08.645,NaN,NaN,1.20273,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:27:08.746,2022-07-08 01:27:08.746,2022-07-08 03:27:08.746,NaN,NaN,1.20273,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:27:08.856,2022-07-08 01:27:08.856,2022-07-08 03:27:08.856,NaN,NaN,1.20273,150000.0

11000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
979,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,NaN,NaN,1.20287,150000.0
980,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,1.20287,NaN,NaN,NaN
981,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.172,2022-07-08 01:30:00.172,2022-07-08 03:30:00.172,NaN,NaN,1.20287,150000.0
982,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,NaN,NaN,1.20288,150000.0
983,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,1.20288,1.20300,NaN,NaN
984,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.371,2022-07-08 01:30:00.371,2022-07-08 03:30:00.371,NaN,NaN,1.20288,150000.0
985,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.472,2022-07-08 01:30:00.472,2022-07-08 03:30:00.472,NaN,NaN,1.20288,150000.0
986,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.574,2022-07-08 01:30:00.574,2022-07-08 03:30:00.574,NaN,NaN,1.20288,150000.0
987,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.676,2022-07-08 01:30:00.676,2022-07-08 03:30:00.676,NaN,NaN,1.20288,150000.0
988,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.932,2022-07-08 01:30:00.932,2022-07-08 03:30:00.932,NaN,NaN,1.20288,150000.0
989,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:01.263,2022-07-08 01:30:01.263,2022-07-08 03:30:01.263,NaN,NaN,1.20288,150000.0
990,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:01.362,2022-07-08 01:30:01.362,2022-07-08 03:30:01.362,NaN,NaN,1.20288,150000.0
991,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:01.542,2022-07-08 01:30:01.542,2022-07-08 03:30:01.542,NaN,NaN,1.20288,150000.0
992,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:01.645,2022-07-08 01:30:01.645,2022-07-08 03:30:01.645,NaN,NaN,1.20288,150000.0
993,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:01.928,2022-07-08 01:30:01.928,2022-07-08 03:30:01.928,NaN,NaN,1.20288,150000.0
994,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:02.029,2022-07-08 01:30:02.029,2022-07-08 03:30:02.029,NaN,NaN,1.20288,150000.0
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:02.129,2022-07-08 01:30:02.129,2022-07-08 03:30:02.129,NaN,NaN,1.20285,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:02.129,2022-07-08 01:30:02.129,2022-07-08 03:30:02.129,1.20285,1.20297,NaN,NaN
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:02.232,2022-07-08 01:30:02.232,2022-07-08 03:30:02.232,NaN,NaN,1.20284,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:02.232,2022-07-08 01:30:02.232,2022-07-08 03:30:02.232,1.20284,1.20296,NaN,NaN
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:02.332,2022-07-08 01:30:02.332,2022-07-08 03:30:02.332,NaN,NaN,1.20284,150000.0

12000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
979,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,NaN,NaN,1.20287,150000.0
980,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,1.20287,NaN,NaN,NaN
981,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.172,2022-07-08 01:30:00.172,2022-07-08 03:30:00.172,NaN,NaN,1.20287,150000.0
982,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,NaN,NaN,1.20288,150000.0
983,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,1.20288,1.203,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:32:34.368,2022-07-08 01:32:34.368,2022-07-08 03:32:34.368,NaN,NaN,1.20283,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:32:34.615,2022-07-08 01:32:34.615,2022-07-08 03:32:34.615,NaN,NaN,1.20283,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:32:34.717,2022-07-08 01:32:34.717,2022-07-08 03:32:34.717,NaN,NaN,1.20283,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:32:34.815,2022-07-08 01:32:34.815,2022-07-08 03:32:34.815,NaN,NaN,1.20283,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:32:34.917,2022-07-08 01:32:34.917,2022-07-08 03:32:34.917,NaN,NaN,1.20283,150000.0

13000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
979,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,NaN,NaN,1.20287,150000.0
980,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,1.20287,NaN,NaN,NaN
981,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.172,2022-07-08 01:30:00.172,2022-07-08 03:30:00.172,NaN,NaN,1.20287,150000.0
982,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,NaN,NaN,1.20288,150000.0
983,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,1.20288,1.203,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:35:34.849,2022-07-08 01:35:34.849,2022-07-08 03:35:34.849,NaN,NaN,1.20272,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:35:34.950,2022-07-08 01:35:34.950,2022-07-08 03:35:34.950,NaN,NaN,1.20272,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:35:35.502,2022-07-08 01:35:35.502,2022-07-08 03:35:35.502,NaN,NaN,1.20272,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:35:35.851,2022-07-08 01:35:35.851,2022-07-08 03:35:35.851,NaN,NaN,1.20272,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:35:35.952,2022-07-08 01:35:35.952,2022-07-08 03:35:35.952,NaN,NaN,1.20272,150000.0

14000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
979,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,NaN,NaN,1.20287,150000.0
980,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,1.20287,NaN,NaN,NaN
981,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.172,2022-07-08 01:30:00.172,2022-07-08 03:30:00.172,NaN,NaN,1.20287,150000.0
982,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,NaN,NaN,1.20288,150000.0
983,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,1.20288,1.203,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:38:52.043,2022-07-08 01:38:52.043,2022-07-08 03:38:52.043,NaN,NaN,1.20282,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:38:52.144,2022-07-08 01:38:52.144,2022-07-08 03:38:52.144,NaN,NaN,1.20282,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:38:52.269,2022-07-08 01:38:52.269,2022-07-08 03:38:52.269,NaN,NaN,1.20282,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:38:52.769,2022-07-08 01:38:52.769,2022-07-08 03:38:52.769,NaN,NaN,1.20282,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:38:52.962,2022-07-08 01:38:52.962,2022-07-08 03:38:52.962,NaN,NaN,1.20282,150000.0

15000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
979,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,NaN,NaN,1.20287,150000.0
980,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,1.20287,NaN,NaN,NaN
981,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.172,2022-07-08 01:30:00.172,2022-07-08 03:30:00.172,NaN,NaN,1.20287,150000.0
982,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,NaN,NaN,1.20288,150000.0
983,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,1.20288,1.203,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:41:04.854,2022-07-08 01:41:04.854,2022-07-08 03:41:04.854,NaN,NaN,1.20311,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:41:04.955,2022-07-08 01:41:04.955,2022-07-08 03:41:04.955,NaN,NaN,1.20311,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:41:05.056,2022-07-08 01:41:05.056,2022-07-08 03:41:05.056,NaN,NaN,1.20311,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:41:05.405,2022-07-08 01:41:05.405,2022-07-08 03:41:05.405,NaN,NaN,1.20311,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:41:05.509,2022-07-08 01:41:05.509,2022-07-08 03:41:05.509,NaN,NaN,1.20309,150000.0

16000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
979,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,NaN,NaN,1.20287,150000.0
980,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.066,2022-07-08 01:30:00.066,2022-07-08 03:30:00.066,1.20287,NaN,NaN,NaN
981,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.172,2022-07-08 01:30:00.172,2022-07-08 03:30:00.172,NaN,NaN,1.20287,150000.0
982,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,NaN,NaN,1.20288,150000.0
983,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:30:00.271,2022-07-08 01:30:00.271,2022-07-08 03:30:00.271,1.20288,1.203,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:43:06.473,2022-07-08 01:43:06.473,2022-07-08 03:43:06.473,NaN,NaN,1.20326,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:43:06.580,2022-07-08 01:43:06.580,2022-07-08 03:43:06.580,NaN,NaN,1.20326,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:43:06.681,2022-07-08 01:43:06.681,2022-07-08 03:43:06.681,NaN,NaN,1.20326,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:43:06.782,2022-07-08 01:43:06.782,2022-07-08 03:43:06.782,NaN,NaN,1.20326,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:43:06.883,2022-07-08 01:43:06.883,2022-07-08 03:43:06.883,NaN,NaN,1.20326,150000.0

17000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
811,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.171,2022-07-08 01:45:00.171,2022-07-08 03:45:00.171,NaN,NaN,1.20317,150000.0
812,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.172,2022-07-08 01:45:00.172,2022-07-08 03:45:00.172,1.20317,NaN,NaN,NaN
813,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.275,2022-07-08 01:45:00.275,2022-07-08 03:45:00.275,NaN,NaN,1.20317,150000.0
814,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.376,2022-07-08 01:45:00.376,2022-07-08 03:45:00.376,NaN,NaN,1.20317,150000.0
815,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.477,2022-07-08 01:45:00.477,2022-07-08 03:45:00.477,NaN,NaN,1.20317,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:26.569,2022-07-08 01:45:26.569,2022-07-08 03:45:26.569,NaN,NaN,1.20323,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:27.026,2022-07-08 01:45:27.026,2022-07-08 03:45:27.026,NaN,NaN,1.20323,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:27.134,2022-07-08 01:45:27.134,2022-07-08 03:45:27.134,NaN,NaN,1.20323,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:28.632,2022-07-08 01:45:28.632,2022-07-08 03:45:28.632,NaN,NaN,1.20323,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:28.734,2022-07-08 01:45:28.734,2022-07-08 03:45:28.734,NaN,NaN,1.20327,150000.0

18000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
811,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.171,2022-07-08 01:45:00.171,2022-07-08 03:45:00.171,NaN,NaN,1.20317,150000.0
812,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.172,2022-07-08 01:45:00.172,2022-07-08 03:45:00.172,1.20317,NaN,NaN,NaN
813,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.275,2022-07-08 01:45:00.275,2022-07-08 03:45:00.275,NaN,NaN,1.20317,150000.0
814,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.376,2022-07-08 01:45:00.376,2022-07-08 03:45:00.376,NaN,NaN,1.20317,150000.0
815,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.477,2022-07-08 01:45:00.477,2022-07-08 03:45:00.477,NaN,NaN,1.20317,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:47:31.163,2022-07-08 01:47:31.163,2022-07-08 03:47:31.163,NaN,NaN,1.20410,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:47:31.264,2022-07-08 01:47:31.264,2022-07-08 03:47:31.264,NaN,NaN,1.20410,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:47:31.365,2022-07-08 01:47:31.365,2022-07-08 03:47:31.365,NaN,NaN,1.20410,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:47:31.489,2022-07-08 01:47:31.489,2022-07-08 03:47:31.489,NaN,NaN,1.20410,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:47:31.662,2022-07-08 01:47:31.662,2022-07-08 03:47:31.662,NaN,NaN,1.20410,150000.0

19000

,symbol,frequency,year,month,date,hour,timestamp_utc,timestamp_uk,timestamp_broker,bid,ask,last,volume
811,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.171,2022-07-08 01:45:00.171,2022-07-08 03:45:00.171,NaN,NaN,1.20317,150000.0
812,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.172,2022-07-08 01:45:00.172,2022-07-08 03:45:00.172,1.20317,NaN,NaN,NaN
813,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.275,2022-07-08 01:45:00.275,2022-07-08 03:45:00.275,NaN,NaN,1.20317,150000.0
814,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.376,2022-07-08 01:45:00.376,2022-07-08 03:45:00.376,NaN,NaN,1.20317,150000.0
815,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:45:00.477,2022-07-08 01:45:00.477,2022-07-08 03:45:00.477,NaN,NaN,1.20317,150000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:50:11.560,2022-07-08 01:50:11.560,2022-07-08 03:50:11.560,NaN,NaN,1.20378,150000.0
996,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:50:11.661,2022-07-08 01:50:11.661,2022-07-08 03:50:11.661,NaN,NaN,1.20378,150000.0
997,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:50:11.761,2022-07-08 01:50:11.761,2022-07-08 03:50:11.761,NaN,NaN,1.20378,150000.0
998,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:50:12.505,2022-07-08 01:50:12.505,2022-07-08 03:50:12.505,NaN,NaN,1.20378,150000.0
999,GBPUSD,tick,2022,07,20220708,00,2022-07-08 00:50:12.611,2022-07-08 01:50:12.611,2022-07-08 03:50:12.611,NaN,NaN,1.20378,150000.0

In [11]:
assert False

AssertionError:

In [ ]:
offset, ticks_raw = await generator_async.__anext__()

In [ ]:
ticks_raw[0], ticks_raw[-1]

In [ ]:
df_ticks_clean = get_clean_ticks(ticks_raw)
df_ticks_clean

In [ ]:
df_candles_from_ticks = get_candles_from_ticks(
    df_ticks_clean,
    frequency
)
df_candles_from_ticks

In [ ]:
df_candles_ffill = ffill(df_candles_from_ticks)
df_candles_ffill

In [ ]:
s_candle_last = df_candles_ffill.iloc[-1]
s_candle_last

In [ ]:
df_candles_out = df_candles_ffill.iloc[:-1].copy()
df_candles_out

In [ ]:
df_ticks_clean_last = df_ticks_clean[df_ticks_clean["timestamp_utc"] >= s_candle_last["timestamp_utc.open"]].copy()
df_ticks_clean_last

In [ ]:
offset, ticks_raw = await generator_async.__anext__()

In [ ]:
df_ticks_clean = get_clean_ticks(ticks_raw)
df_ticks_clean

In [ ]:
df_ticks_clean = pd.concat([
    df_ticks_clean_last,
    df_ticks_clean
])
df_ticks_clean

In [ ]:
df_candles_from_ticks = get_candles_from_ticks(
    df_ticks_clean,
    frequency
)
df_candles_from_ticks

In [ ]:
df_candles_ffill = ffill(df_candles_from_ticks)
df_candles_ffill

In [ ]:
s_candle_last = df_candles_ffill.iloc[-1]
s_candle_last

In [ ]:
df_candles_out = df_candles_ffill.iloc[:-1].copy()
df_candles_out

In [ ]:
df_ticks_clean_last = df_ticks_clean[df_ticks_clean["timestamp_utc"] >= s_candle_last["timestamp_utc.open"]].copy()
df_ticks_clean_last